/*----------UTILS----------*/
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #2F303A;
  --primary-white-color: #FFFFFF;
  --secondary-button-color: #F5F4FA;
  --background-adress-color: rgba(255, 255, 255, 0.6);
  --background-picture: #C4C4C4;
  --primary-icom-color: rgba(175, 177, 184, 1);
  --icons-color: #AFB1B8;
  --bd-gradient: linear-gradient(to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4));
}

.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*----------BUTTON----------*/
.button {
  display: inline-block;
  border-color: transparent;
  text-align: center;
  color: var(--title-text-color);
  font-family: inherit;
  cursor: pointer;
  border-radius: 4px;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button__primery {
  padding: 10px 32px;
  min-width: 216px;
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}
.button__secondary {
  padding: 6px 22px;
  background-color: var(--secondary-button-color);
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}
.button:hover, .button:focus {
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*----------SECTION TITLE----------*/
.section__title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.27;
  text-align: center;
}

.section__title-h3 {
  color: var(--primary-white-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

p,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

svg {
  display: block;
  max-width: 100%;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

/*----------COMPONENTS----------*/
/*----------HEADER----------*/
header {
  border-bottom: 1px solid #ECECEC;
}
header .container__nav {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
}
.nav__logo {
  padding-bottom: 16px;
  padding-top: 16px;
  margin-right: 93px;
  color: var(--title-text-color);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.2;
  font-weight: 700;
}
@media screen and (min-width: 1200px) {
  .nav__logo {
    padding-bottom: 25px;
    padding-top: 25px;
  }
}
.nav__list {
  display: none;
  margin-right: 50px;
}
@media screen and (min-width: 768px) {
  .nav__list {
    display: flex;
  }
}
.nav__logo span {
  color: var(--accent-color);
}
.nav__link {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}
.nav__link.current {
  color: var(--accent-color);
}
.nav__link-line {
  display: none;
  position: relative;
  top: 1px;
  height: 4px;
  width: 105%;
  border-radius: 2px;
  border: 1px solid var(--accent-color);
  background: var(--accent-color);
}
.nav__link-line.current {
  display: block;
}
.nav__list-locat {
  margin-left: 50px;
}
.nav__list-locat:first-child {
  margin-left: 0;
}

.contact {
  margin-left: auto;
  display: none;
}
@media screen and (max-width: 1199px) {
  .contact {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}
@media screen and (min-width: 768px) {
  .contact {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    display: flex;
  }
}
.contact__link {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contact__link:hover, .contact__link:focus {
  color: var(--accent-color);
}
.contact__icon {
  width: 14px;
  height: 10px;
  fill: currentColor;
  margin-right: 10px;
}
@media screen and (min-width: 768px) {
  .contact__icon {
    width: 16px;
    height: 12px;
  }
}
.contact__list {
  min-width: 160px;
}
@media screen and (max-width: 1199px) {
  .contact__list:first-child {
    padding-bottom: 10px;
  }
}
@media screen and (min-width: 768px) {
  .contact__list {
    margin-left: 0;
  }
}
@media screen and (min-width: 1200px) {
  .contact__list {
    margin-left: 50px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.open-btn {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  padding: 0;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .open-btn {
    display: none;
  }
}
.open-btn-icon {
  fill: #212121;
}

.container__mob {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: scroll;
}

.mob-menu {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: 20;
  padding-top: 21px;
  padding-bottom: 21px;
}

.close-btn {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  padding: 0;
  margin-left: auto;
  display: block;
}

.mob-nav__list-locat:not(:last-child) {
  margin-bottom: 32px;
}

.mob-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: #212121;
}
.mob-nav__link:hover, .mob-nav__link:focus {
  color: var(--accent-color);
}
.mob-nav__link.current {
  color: var(--accent-color);
}

.mob-contact__link-phone {
  display: block;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mob-contact__link-mail {
  display: block;
  padding-bottom: 64px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.mob__soc {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-bottom: 48px;
}

.mob__soc-item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mob__soc-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

/*----------FOOTER----------*/
/*----------LOGO/ADDRESS----------*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-bg-color);
}
.footer .container {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .footer .container {
    text-align: center;
    justify-content: center;
    align-items: start;
  }
}
@media screen and (min-width: 1200px) {
  .footer .container {
    gap: 70px;
    justify-content: start;
    flex-wrap: nowrap;
  }
}
.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--primary-white-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.footer__logo span {
  color: var(--accent-color);
}
.footer__logo-address {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__logo-address {
    padding-right: 95px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__logo-address {
    padding-right: 0;
    text-align: left;
  }
}

.address__link-map {
  color: var(--primary-white-color);
  line-height: 1.71;
  font-style: normal;
}

.address__link {
  line-height: 1.71;
  font-style: normal;
  color: var(--background-adress-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address__locat {
  margin-bottom: 9px;
}

.address__locat:last-child {
  margin-bottom: 0;
}

.address__link:hover,
.address__link:focus {
  color: var(--accent-color);
}

/*----------MEDIA----------*/
.media {
  margin-top: 12px;
}
@media screen and (max-width: 768px) {
  .media {
    width: 100%;
  }
}
.media .section__title-h3 {
  padding-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .media .section__title-h3 {
    text-align: left;
  }
}
.media__list {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.media__icon {
  height: 44px;
  width: 44px;
}
.media__link {
  display: inline-block;
  padding: 12px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  color: var(--primary-white-color);
  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.media__link:hover, .media__link:focus {
  background: var(--accent-color);
}
.media__link svg {
  height: 20px;
  width: 20px;
  fill: currentColor;
}
.media__wrap {
  position: relative;
  width: 100%;
}
.media__button {
  display: flex;
  align-items: center;
  height: 50px;
}
.media__svg {
  margin: 10px;
}
.media__input {
  outline: transparent;
  padding-left: 16px;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: rgba(0, 0, 0, 0);
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 768px) {
  .media__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .media__input {
    width: 358px;
  }
}
.media__mail {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 12px;
}
@media screen and (min-width: 1200px) {
  .media__mail {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
.media__mail .button.primery-button {
  width: 200px;
  height: 50px;
}

/*----------BACKDROP/MODAL----------*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(85, 85, 85, 0.454);
  z-index: 10;
  transition: opacity 200ms linear, visibility 200ms linear;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.backdrop.is-hidden {
  transform: translate(-50%, -50%) scaleY(0);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal {
  padding: 40px;
  width: 90vw;
  height: 80vh;
  overflow: scroll;
  background-color: var(--primary-white-color);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleY(1);
  transition: rtansform 200ms linear;
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    min-height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}
.modal__end {
  text-align: center;
}
.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-color: transparent;
  border: 1px solid var(--icons-color);
  background-color: var(--primary-white-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal__close:hover .modal__close-svg {
  fill: var(--accent-color);
}
.modal__close-svg {
  fill: black;
}
.modal__title {
  text-align: center;
  margin-bottom: 20px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
}
.modal__field {
  margin-bottom: 20px;
}
.modal__wrap {
  position: relative;
  margin-bottom: 10px;
  margin-top: 4px;
}
.modal__input {
  outline: transparent;
  padding-left: 30px;
  width: 100%;
  height: 40px;
  border: 1px solid;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 14px;
  color: var(--primary-text-color);
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input.comment {
  height: 120px;
  padding-top: 12px;
  padding-left: 16px;
}
.modal__input:hover, .modal__input:focus {
  border-color: var(--accent-color);
}
.modal__icon {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--title-text-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__wrap:hover .modal__icon {
  fill: var(--accent-color);
}
.modal__text {
  display: flex;
  align-items: center;
}
.modal__text-mobile {
  font-size: 12px;
  line-height: 1.16;
  font-weight: 400;
}
@media screen and (min-width: 1200px) {
  .modal__text-mobile {
    font-size: 14px;
    line-height: 1.84px;
    font-weight: 400;
  }
}
.modal__check {
  position: relative;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .modal__check {
    margin-left: 20px;
  }
}
.modal__text a {
  color: var(--accent-color);
}
.modal__text span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 15px;
  fill: transparent;
  border: 2px solid black;
  border-radius: 3px;
  margin-right: 5px;
}
.modal__check-hide:checked + .modal__text span {
  border: none;
  background-color: var(--accent-color);
  fill: var(--primary-white-color);
}

/*----------STUDIO----------*/
/*----------HERO----------*/
.hero {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: var(--secondary-bg-color);
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero__title {
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 360px;
  color: var(--primary-white-color);
  font-size: 26px;
  line-height: 1.61;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 780px;
    font-size: 44px;
    line-height: 1.36;
    font-weight: 900;
  }
}

.overlay {
  background-color: var(--background-picture);
  background-image: var(--bd-gradient), url("../images/HeroBackground-mob.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .overlay {
    background-image: var(--bd-gradient), url("../images/HeroBackground-mob-2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .overlay {
    background-image: var(--bd-gradient), url("../images/HeroBackground-tablet.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: var(--bd-gradient), url("../images/HeroBackground-tablet-2x.jpg");
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .overlay {
    background-image: var(--bd-gradient), url("../images/HeroBackground-desktop.jpg");
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-width: 1200px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: var(--bd-gradient), url("../images/HeroBackground-desktop-2x.jpg");
  }
}

/*----------KLIENTS----------*/
.klient__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.klient__name {
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .klient__name {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .klient__name {
    width: calc((100% - 150px) / 6);
  }
}

.klient__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 92px;
  border: 1px solid var(--icons-color);
  border-radius: 4px;
  color: var(--icons-color);
  transition-property: color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.klient__icon {
  text-align: center;
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.klient__link:hover,
.klient__link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/*----------TEAM----------*/
.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.team__content {
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .team__content {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__content {
    width: calc((100% - 90px) / 4);
  }
}
.team__photo {
  margin-bottom: 30px;
}
.team__name {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.team__position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.team__social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.team__icon {
  height: 44px;
  width: 44px;
}
.team__link {
  display: inline-block;
  padding: 12px;
  border-radius: 50%;
  color: var(--icons-color);
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team__link:hover, .team__link:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}
.team__icon-fill {
  height: 20px;
  width: 20px;
  fill: currentColor;
}

.section__team {
  background-color: var(--secondary-button-color);
}

/*----------ACTIVITY----------*/
.activity {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-bottom: 94px;
}
.activity__hide {
  display: none;
}
@media screen and (min-width: 1200px) {
  .activity__hide {
    display: block;
  }
}
.activity__pos {
  position: relative;
}
.activity__name {
  position: absolute;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  bottom: 0;
  font-size: 14px;
  line-height: 1.14px;
  font-weight: 0;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--primary-white-color);
}

/*----------FEATURES----------*/
.feature {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .feature {
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
.feature__items {
  max-width: 350px;
}
@media screen and (min-width: 768px) {
  .feature__items {
    width: calc((100% - 30px) / 2);
  }
}
.feature__icon {
  padding-bottom: 25px;
  padding-top: 25px;
  width: 350px;
  height: 120px;
  background: var(--secondary-button-color);
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .feature__icon {
    width: 270px;
  }
}
.feature__title {
  margin-bottom: 10px;
  margin-top: 30px;
  text-align: center;
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14px;
  font-weight: 0;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .feature__title {
    text-align: justify;
  }
}
.feature__text {
  line-height: 1.71;
}

/*----------PORTFOLIO----------*/
/*----------portfolio__---------*/
.portfolio {
  display: flex;
  flex-wrap: wrap;
}
.portfolio__button {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio__button-term:not(:last-child) {
  margin-right: 8px;
}
.portfolio__menu {
  padding-left: 24px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  border-top: 0;
}
.portfolio__section {
  padding-top: 0;
  margin-bottom: 20px;
  margin-right: 20px;
  width: 370px;
}
.portfolio__section:nth-child(3n) {
  margin-right: 0;
}
.portfolio__section:nth-last-child(-n+3) {
  margin-bottom: 0;
}
.portfolio__link {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__img {
  padding: 0;
  padding: 0;
}
.portfolio__link:hover .portfolio__img-text {
  transform: translateY(0);
}
.portfolio__link:focus .portfolio__img-text {
  transform: translateY(0);
}
.portfolio__img-wrap {
  position: relative;
  overflow: hidden;
}
.portfolio__img-text {
  position: absolute;
  top: 0;
  height: 100%;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--primary-white-color);
  font-size: 18px;
  line-height: 1.55;
}
.portfolio__name {
  padding-top: 20px;
  padding-bottom: 4px;
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio__category {
  padding-bottom: 20px;
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}/*# sourceMappingURL=main.css.map */