/*----------ACTIVITY----------*/


.activity {
    &__hide{
    display: none;
    
    @include desktop {
        display:block;
    }
    }

    display: flex;
    justify-content: center;
    gap: 30px;
    padding-bottom: 94px;

    

    &__pos {
        position: relative;
    }

    &__name {
        position: absolute;
        text-align: center;
        padding-top: 27px;
        padding-bottom: 27px;
        width: 100%;
        bottom: 0;

        @include font(14px, 1.14px, 0);
        text-transform: uppercase;

        background-color: rgba(47, 48, 58, 0.8);
        color: var(--primary-white-color);
    }
}

