/*----------KLIENTS----------*/


.klient__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;

    
}


.klient__name {
    width: calc((100% - 30px) / 2);

    @include tablet {
        width: calc((100% - 60px) / 3);
    }

    @include desktop {
        width: calc((100% - 150px) / 6);
    }
}


.klient__link {
    display: flex;
    // padding: 16px 32px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 92px;
    border: 1px solid var(--icons-color);
    border-radius: 4px;

    color: var(--icons-color);

    transition-property: color, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.klient__icon {
    text-align: center;
    width: 106px;
    height: 60px;
    fill: currentColor;
}

.klient__link:hover,
.klient__link:focus {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
}