
/*----------FEATURES----------*/

.feature {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;

    

    @include desktop {
        justify-content: center;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    &__items {
        max-width: 350px;
        @include tablet {
            @include calc(2, 30px);
        }
    }
    
    &__icon {
        padding-bottom: 25px;
        padding-top: 25px;
        width: 350px;
        height: 120px;

        background: var(--secondary-button-color);

        border-radius: 4px;

        @include desktop {
            width: 270px;
        }
    }

    &__title {
        margin-bottom: 10px;
        margin-top: 30px;
        text-align: center;

        color: var(--title-text-color);

        @include font(14px, 1.14px, 0);
        text-transform: uppercase;

        @include tablet {
            text-align:justify;
        }
    }

    &__text {
        line-height: 1.71;
    }
}

