
.container {
    max-width: 450px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

    @include media(768) {
        max-width: 728px;
    }

    @include media(1200) {
        max-width: 1200px;
    }

}

.section {
    padding-top: 60px;
    padding-bottom: 60px;

    @include desktop {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}