/*----------SECTION TITLE----------*/

.section__title {
    margin-top: 0;
    margin-bottom: 50px;

    color: var(--title-text-color);

    font-size: 36px;
    line-height: 1.27;
    text-align: center;
}

.section__title-h3 {
    color: var(--primary-white-color);

    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}