:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-bg-color: #ffffff;
    --secondary-bg-color: #2F303A;
    --primary-white-color: #FFFFFF;
    --secondary-button-color: #F5F4FA;
    --background-adress-color: rgba(255, 255, 255, 0.6);
    --background-picture: #C4C4C4;
    --primary-icom-color: rgba(175, 177, 184, 1);
    --icons-color: #AFB1B8;
}